<span>{{ buildTranslationKey('riskGridHeader.category') | translate }}</span>
<span>{{ buildTranslationKey('riskGridHeader.name') | translate }}</span>
<span>{{ buildTranslationKey('riskGridHeader.riskLevel') | translate }}</span>
<span>{{ buildTranslationKey('riskGridHeader.riskEffect') | translate}}</span>
<span>{{ buildTranslationKey('riskGridHeader.strategy') | translate }}</span>
<span>{{ buildTranslationKey('riskGridHeader.controls') | translate }}</span>
<span>{{ buildTranslationKey('riskGridHeader.owner') | translate }}</span>
