<div class="content-wrapper" [searchableRow]="evidence" [rowTrackBy]="rowTrackBy" [scrollToElementOnFocus]="true">
  <app-evidence-label
    [evidence]="evidence"
    [viewPreviewMode]="false"
    [evidenceComply]="evidence.evidence_gap === null"
    [inEvidencePool]="true"
    [frameworksNames]="evidenceRelatedFrameworksNames$ | async"
    [eventSource]="evidenceSource"
    [controlInstance]="evidence.related_control"
    [controlRequirement]="evidence.related_requirement"
    class="max-w-5/12"
  >
  </app-evidence-label>
  <div class="right-content">
    <div class="evidence-related-frameworks">
      <app-linked-controls-label
        *ngIf="evidenceRelatedFrameworksNames$ | async"
        [evidenceId]="evidence.evidence_id"
      >
      </app-linked-controls-label>
    </div>
    <app-date-view
      class="evidence-property-value-description"
      [dateFormat]="'MMM d, yyyy'"
      [date]="evidence.evidence_collection_timestamp"
      [descriptionTranslationKey]="
        buildTranslationKey(
          evidence.evidence_service_id === 'manual' ? 'manualUploadedEvidence' : 'automaticallyCollected'
        )
      "
    >
    </app-date-view>
    <div>
      <app-new-button
        (click)="clickOnLinkEvidenceButton($event)"
        [type]="'primary'"
        class="min-w-min max-w-28 capitalize"
      >
        {{ buildTranslationKey('linkEvidenceBtn') | translate }}
      </app-new-button>
    </div>
  </div>
</div>
