<div
  class="controls-header flex flex-row items-center pl-6 pr-4 w-full h-16 bg-navy-10 border-b border-navy-30 rounded-t-md">
  <div class="title main-font-18 bold text-navy-90 flex-1">
    {{ buildTranslationKey('categories') | translate: { categories_num: (categories$ |async)?.length || 0 } }}
  </div>
</div>
<div class="flex-1 px-6 pt-6 overflow-y-auto">
  <app-framework-category-item
    *ngFor="let category of categories$ | async"
    [category]="category"
    [framework]="framework"
  ></app-framework-category-item>
</div>
