@import 'index';

.divider {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;

    .logo {
        display: flex;
        align-items: center;
        margin-left: 85px;
        margin-bottom: 25px;
    }

    .logout-btn {
        margin-right: 25px;
        margin-bottom: 21px;
    }
}

.auditor-name {
    margin-left: 87px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.content {
    .tenant {
        width: 288px;
        height: 170px;
        background-color: white;
        border: 1px solid $mc-navy-40;

        .company-logo {
            height: 54px;
            width: 54px;
            border: 1px solid rgba(4, 41, 62, 0.1);
            margin-right: 15px;
        }
        
    }
}

