<div class="flex flex-row items-center gap-5">
  <svg-icon class="h-11 w-11" [src]="'saml-items/' + samlItem.type"> </svg-icon>
  <span class="font-secondary font-bold text-xl text-navy-90">{{ samlItem.displayName }}</span>
  <div *ngIf="isConnected" class="flex items-center gap-2">
    <svg-icon [src]="'status_complete'"></svg-icon>
    <span class="font-base text-blue-50">{{ buildTranslationKey('configuredText') | translate }}</span>
  </div>
</div>
<div class="flex items-center">
  <svg-icon *ngIf="isComingSoon; else relevantTemplate" [src]="'coming_soon'"></svg-icon>
    <ng-template #relevantTemplate>
      <div class="w-28">
        <app-new-button *ngIf="!isConnected" [type]="'primary'" [size]="'stretch'" (click)="setClick.emit()">{{ buildTranslationKey('setBtn') | translate }} ></app-new-button>
        <app-new-button *ngIf="isConnected" [type]="'secondary'" [size]="'stretch'" (click)="editClick.emit()">{{ buildTranslationKey('editBtn') | translate }} ></app-new-button>
      </div>
    </ng-template>
</div>
