// Reset default styles for material expansion panel
:host::ng-deep {
  .mat-expansion-indicator {
    @apply hidden;
  }

  mat-expansion-panel-header,
  .mat-expansion-panel-body,
  mat-panel-description {
    @apply p-0 m-0 border-0 max-w-full;
  }

  mat-expansion-panel-header .mat-content {
    @apply h-10;

    .mat-expansion-panel-header-description {
      @apply absolute w-full;
    }
  }

  mat-expansion-panel-header:hover {
    background: initial !important;
  }

  .filter-open {
    &.item-container {
      grid-template-columns: 1fr 66% !important;
    }

    .mitigation-container, .supporting-docs-container {
      @apply col-span-full;
    }
  }

  @media only screen and (max-width: 1200px) {
    &.item-container {
      grid-template-columns: 1fr 66% !important;
    }

    .mitigation-container, .supporting-docs-container {
      @apply col-span-full;
    }
  }
}
