@import '../custom-palettes.scss';
@import '../index';
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$blue-orange-primary: mat-palette($anecdotes-primary);
$blue-orange-accent: mat-palette($anecdotes-orange);

// The warn palette is optional (defaults to red).
$blue-orange-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$blue-orange-theme: mat-light-theme(
  (
    color: (
      primary: $blue-orange-primary,
      accent: $blue-orange-accent,
      warn: $blue-orange-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($blue-orange-theme);
